a.logo{
	width: 93px;
	height: 27px;
	display: inline-block;
	background: url('../img/logo-2x.png') no-repeat center center;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: middle;
}