ul.subnav{
	position: relative;
	margin: 0;
	text-align: center;

	li{
		list-style: none;
		display: inline-block;
		border-top: 2px solid $transparent-white;

		a{
			display: block;
			line-height: 50px;
			height: 50px;
			padding: 0 1.1rem;
			text-transform: uppercase;
			font-size: $initial-size;
			color: $color-green;
			
			@include up-to-medium{
				padding: 0 0.625em;
			}
		}

		&.active,
		&:hover{

			border-top-color: $color-blue;

			a{
				color: $color-blue;
			}
		}
	}
}