// Variables

// Colors
$transparent-white:		rgba(255, 255, 255, 0);
$transparent-black:		rgba(0, 0, 0, 0);
$color-black: 			#000000;
$color-white: 			#ffffff;
$color-grey:			#7e8389;
$color-navy:			#22313f;
$color-blue:			#4ab7f2;
$color-light-blue:		#e0f2fc;
$color-green:			#2ecc71;
$color-light-green:		#f4fcf8;
$color-red:				#f64747;
$color-light-red:		#fee3e3;
$color-yellow:			#f9c34d;
$color-light-yellow:	#fef8eb;
$color-silver:			#bebebe;
$color-bronze:			#bcacaa;

// Font family
$main-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Source Sans Pro', sans-serif;
$initial-size: 12px;

// Custom Widths for Media Queries
$width-mobile: 			320px;
$width-smartphone: 		480px;
$width-medium:			640px;
$width-tablet: 			768px;
$width-desktop: 		1024px;
$width-widescreen: 		1280px;
