@font-face {
	font-family: 'replacr';
	src:url('../fonts/icons/replacr.eot');
	src:url('../fonts/icons/replacr.eot') format('embedded-opentype'),
		url('../fonts/icons/replacr.woff') format('woff'),
		url('../fonts/icons/replacr.ttf') format('truetype'),
		url('../fonts/icons/replacr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'replacr';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
	content: "\e600";
}

.icon-2:before {
	content: "\e601";
}

.icon-3:before {
	content: "\e602";
}

.icon-4:before {
	content: "\e603";
}

.icon-5:before {
	content: "\e604";
}

.icon-6:before {
	content: "\e605";
}

.icon-7:before {
	content: "\e606";
}

.icon-large-1:before {
	content: "\e607";
}

.icon-large-2:before {
	content: "\e608";
}

.icon-url:before {
	content: "\e609";
}

.icon-8:before {
	content: "\e60a";
}

.icon-money-club:before {
	content: "\e60b";
}

.icon-9:before {
	content: "\e60c";
}

.icon-referral-ralley:before {
	content: "\e60d";
}

.icon-menu:before {
	content: "\e60e";
}

.icon-pin:before {
	content: "\e60f";
}

.icon-search:before {
	content: "\e610";
}

.icon-settings:before {
	content: "\e611";
}

.icon-arrow-down:before {
	content: "\e612";
}

.icon-arrow-up:before {
	content: "\e613";
}

.icon-arrow-left:before {
	content: "\e614";
}

.icon-arrow-right:before {
	content: "\e615";
}

.icon-circle-arrow-left:before {
	content: "\e616";
}

.icon-circle-arrow-right:before {
	content: "\e617";
}

.icon-circle-cross:before {
	content: "\e618";
}

.icon-radio:before {
	content: "\e619";
}

.icon-radio-checked:before {
	content: "\e61a";
}

.icon-checkbox:before {
	content: "\e61b";
}

.icon-checkbox-checked:before {
	content: "\e61c";
}

.icon-attention:before {
	content: "\e61d";
}

.icon-check:before {
	content: "\e61e";
}

.icon-new-message:before {
	content: "\e61f";
}

.icon-circle-minus:before {
	content: "\e620";
}

.icon-circle-plus:before {
	content: "\e621";
}

.icon-circle-question:before {
	content: "\e622";
}

.icon-comment:before {
	content: "\e623";
}

.icon-join:before {
	content: "\e624";
}

.icon-login:before {
	content: "\e625";
}

.icon-logout:before {
	content: "\e626";
}

.icon-lizzard:before {
	content: "\e627";
}

.icon-logo:before {
	content: "\e628";
}

.icon-skype-large:before {
	content: "\e629";
}

.icon-skype:before {
	content: "\e62a";
}

.icon-facebook:before {
	content: "\e62b";
}

.icon-twitter:before {
	content: "\e62c";
}

.icon-google-plus:before {
	content: "\e62d";
}

.icon-angle-left:before {
	content: "\f104";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-angle-up:before {
	content: "\f106";
}

.icon-angle-down:before {
	content: "\f107";
}

