/* Tipso Bubble Styles */
.tip{
	cursor: pointer;
	line-height: 12px;
	font-size: 11px;
	font-family: Tahoma, sans-serif;


	&.question{
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		display: inline-block;
		border-radius: 50%;
		background: $color-green;
		color: $color-white;
		position: relative;
		top: -2px;
		margin-left: 10px;
	}
}
.tipso_bubble {
	position: absolute;
	text-align: center;
	z-index: 9999;
	padding: 8px;
	font-size: 12px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	border-radius: 2px;

	& > .tipso_arrow{
		position: absolute;
		width: 0; height: 0;
		border: 5px solid;
		pointer-events: none;
	}
	&.top > .tipso_arrow {
		border-top-color: #000;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		top: 100%;
		left: 50%;
		margin-left: -5px;
	}
}